<form #form="ngForm" class="mb-0 mt-4">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="exampleInputEmail1" class="simple-label">Nombre de la política</label>
        <input type="email" placeholder="Nombre" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="exampleInputEmail1" class="simple-label">Importar configuración de otra política</label>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Ninguna</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="exampleInputEmail1" class="simple-label">Aprobador</label>
        <select class="custom-select" id="inputGroupSelect02">
          <option selected>James Rodriguez</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>


    <div class="col-12 col-md-6">
      <div class="form-group mb-0">
        <label for="exampleInputEmail1" class="simple-label">Descripción</label>
        <textarea placeholder="Descripción" class="custom-textarea"></textarea>
      </div>
    </div>
  </div>
</form>

<div class="button-container mt-2">
  <button matStepperNext class="btn primary-button mr-2 ft-14">Guardar y continuar</button>
  <button class="btn btn-danger pd-l-r-15 ft-14">Cancelar</button>
</div>
