.policy-description {
  h4 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 2px;
  }

  .amount {
    font-size: 1.2rem;
    color: #06a682;
    font-weight: 400;
  }

  .description {
    font-size: 1rem;
    font-weight: 400;
  }
}

.policy-users {
  h4 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 2px;
  }
}

.policy-title-container {
  display: flex;
  align-items: center;

  .policy-title {
    margin: 0 !important;
  }
}

.policy-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.user-assg-img-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  p, span {
    margin-right: 10px !important;
    font-weight: 500;
    font-size: 16px;
  }
}

.user-assg-img {
  border: solid transparent 1px;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.notification-value {
  position: relative;
  left: -18px;
  top: -10px;
  color: white;
  background-color: #06a682;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 11px;
}

.report-status {
  margin-top: 1.3rem;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1rem;

  .warning {
    color: #f28503;
  }
}

.report-detail {
  font-size: 1rem;
  font-weight: 400;

  span {
    font-weight: 500;
  }

  .danger {
    color: #ab0800;
  }
}

.report-send-date {
  font-weight: 600;
  margin-left: 0px;
}

.report-detail-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.report-detail-table {
  h4, p {
    font-weight: 500;
    font-size: 1rem;
  }

  h4 {
    margin-bottom: 0;
  }

  .danger {
    color: #ab0800;
  }
}
