

<div class="row mt-4">
  <div class="col-12 col-md-6 display-center">
    <div class="card" style="width: 35rem; min-height: 6rem;">
      <div class="card-body user-assg-card">
        <h5 class="card-title">Presupuesto asignado</h5>
        <h6 class="card-subtitle mb-2 text-muted">$15,000 MXN</h6>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 display-center">
    <div class="card" style="width: 35rem; min-height: 6rem;">
      <div class="card-body user-assg-card">
        <h5 class="card-title">Días para regresar el sobrante</h5>
        <div class="w-100">
          <div class="form-group m-0">
            <select class="custom-select input-md" id="inputGroupSelect01">
              <option value="1">15 días</option>
              <option value="1">Por uso</option>
              <option value="2">Por día</option>
              <option value="3">Por viaje</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12 col-md-6 display-center">
    <div class="card" style="width: 35rem;">
      <div class="card-body user-assg-card">
        <h5 class="card-title">Asignar política a empleados</h5>
        <div class="form-group m-0">
          <input type="email" placeholder="Buscar" class="form-control input-md" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <div class="user-assg-img-container mt-3">
          <div [ngStyle]="{'background': 'url(' + userImage + ') no-repeat center center', 'background-size': 'cover'}" class="user-assg-img"></div>
          <p class="m-0">Chuck Morales</p>
        </div>

        <div class="user-assg-img-container mt-3">
          <div [ngStyle]="{'background': 'url(' + userImage + ') no-repeat center center', 'background-size': 'cover'}" class="user-assg-img"></div>
          <p class="m-0">Contra Alvarado</p>
        </div>

        <div class="user-assg-img-container mt-3">
          <div [ngStyle]="{'background': 'url(' + userImage + ') no-repeat center center', 'background-size': 'cover'}" class="user-assg-img"></div>
          <p class="m-0">Jesus Alejandro</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6" style="display: flex; justify-content: center; align-items: flex-start">
    <div class="card" style="width: 35rem;">
      <div class="card-body user-assg-card">
        <h5 class="card-title">Personas agregadas</h5>

        <div class="user-assg-container">
          <div class="user-assg-img-container">
            <div [ngStyle]="{'background': 'url(' + userImage + ') no-repeat center center', 'background-size': 'cover'}" class="user-assg-img"></div>
            <p class="m-0">Chuck Morales</p>
          </div>

          <mat-icon style="font-size: 1.1rem;height: 1.1rem; width: 1.1rem; margin-right: 0.5rem; font-weight: 500; color: #03a782;">cancel</mat-icon>

        </div>

        <div class="user-assg-container">
          <div class="user-assg-img-container">
            <div [ngStyle]="{'background': 'url(' + userImage + ') no-repeat center center', 'background-size': 'cover'}" class="user-assg-img"></div>
            <p class="m-0">Contra Alvarado</p>
          </div>

          <mat-icon style="font-size: 1.1rem;height: 1.1rem; width: 1.1rem; margin-right: 0.5rem; font-weight: 500; color: #03a782;">cancel</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="button-container mt-2">
  <button class="btn primary-button mr-2 ft-14">Guardar y continuar</button>
  <button matStepperPrevious class="btn btn-danger pd-l-r-15 ft-14">Cancelar</button>
</div>


